# ========== .NET ==========
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# ========== Angular / Node ==========
node_modules/
dist/
.env
package-lock.json

# ========== System files ==========
.DS_Store
Thumbs.db
