<div class="nav">
    <div class="search-box">
      <input type="text" placeholder="Tìm kiếm…" />
      <button><i class="fa fa-search">
      </i></button>
    </div>
  
    <div class="menu">
      <div
        class="menu-item"
        [class.active]="activeMenu === 'home'"
        [routerLink]="['/home']"
      >
        <i class="fa fa-users-cog"></i> Trang chủ
        <span class="arrow" *ngIf="activeMenu === 'home'"></span>
      </div>
      <div
        class="menu-item"
        [class.active]="activeMenu === 'subject'"
        [routerLink]="['/subject']"
        *ngIf="isAdmin || isDean"
      >
        <i class="fa fa-tachometer-alt"></i> Quản lý môn học
        <span class="arrow" *ngIf="activeMenu === 'subject'"></span>
      </div>
      <div
        class="menu-item"
        [class.active]="activeMenu === 'major'"
        [routerLink]="['/majorManagement']"
        *ngIf="isAdmin || isDean"
      >
        <i class="fa fa-tachometer-alt"></i> Quản lý ngành
        <span class="arrow" *ngIf="activeMenu === 'major'"></span>
      </div>
      <div
        class="menu-item"
        [class.active]="activeMenu === 'specialization'"
        [routerLink]="['/specialization']"
        *ngIf="isAdmin || isDean"
      >
        <i class="fa fa-tachometer-alt"></i> Quản lý chuyên ngành
        <span class="arrow" *ngIf="activeMenu === 'specialization'"></span>
      </div>

      <div
        class="menu-item"
        [class.active]="activeMenu === 'department'"
        [routerLink]="['/department']"
        *ngIf="isAdmin || isDean"
      >
        <i class="fa fa-tachometer-alt"></i> Quản lý bộ môn
        <span class="arrow" *ngIf="activeMenu === 'department'"></span>
      </div>

      <div
        class="menu-item"
        [class.active]="activeMenu === 'curriculum'"
        [routerLink]="['/curriculum']"
        *ngIf="isAdmin || isDean"
      >
        <i class="fa fa-tachometer-alt"></i> Quản lý chương trình giảng dạy
        <span class="arrow" *ngIf="activeMenu === 'curriculum'"></span>
      </div>

      <div
        class="menu-item"
        [class.active]="activeMenu === 'curriculumSubject'"
        [routerLink]="['/curriculumSubject']"
        *ngIf="isAdmin || isDean"

      >
        <i class="fa fa-tachometer-alt"></i> Quản lý môn học chương trình giảng dạy
        <span class="arrow" *ngIf="activeMenu === 'curriculumSubject'"></span>
      </div>

      <div
        class="menu-item"
        [class.active]="activeMenu === 'account'"
        [routerLink]="['/account']"
        *ngIf="isAdmin"
      >
        <i class="fa fa-tachometer-alt"></i> Quản lý tài khoản
        <span class="arrow" *ngIf="activeMenu === 'account'"></span>
      </div>
      
    </div>
  
    <div class="collapse">
      <i class="fa fa-angle-double-left"></i>
    </div>
  </div>
  