<!-- Nút mở modal -->
<button (click)="openModal()" class="open-btn">Update môn học</button>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Thêm bộ môn mới</h2>

    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">Tên môn học</label>
        <input type="text" id="name" [(ngModel)]="subject.subjectName" name="name" required>
      </div>

      <div class="form-group">
        <label for="subjectCode">Mã môn học</label>
        <input type="text" id="subjectCode" [(ngModel)]="subject.subjectCode" name="subjectCode" required>
      </div>

      <div class="form-group">
        <label for="theoryCredits">Số tín chỉ lý thuyết</label>
        <input type="number" id="theoryCredits" [(ngModel)]="subject.theoryCredits" name="theoryCredits" required>
      </div>
      
      <div class="form-group">
        <label for="practiceCredits">Số tín chỉ thực hành</label>
        <input type="number" id="practiceCredits" [(ngModel)]="subject.practiceCredits" name="practiceCredits" required>
      </div>

      <div class="form-group">
        <label for="status">Trạng thái</label>
        <select id="status" [(ngModel)]="subject.status" name="status" required class="form-control">
          <option value="">-- Trạng thái --</option>
          <option [value]=status.Active name = "status">Active</option>
          <option [value]=status.Inactive name = "status">Inactive</option>
        </select>
      </div>

      <div class="form-group">
        <label for="department">Bộ môn</label>
        <select id="department" [(ngModel)]="subject.departmentId" name="department" required>
          <option value="">-- Chọn bộ môn --</option>
          <option *ngFor="let d of departments" [value]="d.id" name = "departmentId">{{ d.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <button type="submit">Lưu</button>
      </div>
    </form>
  </div>
</div>
