<!-- Nút mở modal -->
<button (click)="openModal()" class="open-btn">Cấp quyền</button>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2 style="color:black">Cấp quyền</h2>
    <form (submit)="onSubmit()">

    <div class="form-group">
        <label for="username">Tên tài khoản</label>
        <textarea id="username" [(ngModel)]="AsignRoleM.username" name="username" required></textarea>
    </div>
      <div class="form-group">
        <label for="role">Quyền</label>
        <select id="role" [(ngModel)]="role" name="role" required class="form-control">
          <option value="">-- Quyền --</option>
          <option [value]= "'Admin'" name = "role">Admin</option>
          <option [value]= "'Lecture'" name = "role">Lecture</option>
          <option [value]= "'Dean'" name = "role">Dean</option>
        </select>
      </div>

      <div class="form-group">
        <button type="submit">Lưu</button>
      </div>
    </form>
  </div>
</div>
