<header class="header">
  <div class="left-section">
    <img src="logo.png" alt="Logo" class="logo" />
    <div class="title">
      <strong>CỔNG THÔNG TIN SỐ HÓA KHOA CÔNG NGHỆ THÔNG TIN</strong>
      <span class="shortcut">=> Hãy nhấn Ctrl+F5 để update lại chương trình</span>
    </div>
  </div>

  <div class="right-section">
    <div class="icon-group">
      <div class="icon color-icon"></div>
      <div class="icon user-setting-icon"></div>
      <div class="icon language-icon">A</div>
      <div class="icon help-icon">Help</div>
    </div>

    <div class="user-dropdown" (click)="toggleMenu()">
      <span>Xin chào, <strong>{{ userName }}</strong></span>
      <span class="arrow">&#9662;</span>
      <div class="dropdown-menu" *ngIf="showMenu">
        <div class="dropdown-item">
          <i class="fa fa-user"></i> Thông tin tài khoản
        </div>
        <div class="dropdown-item">
          <i class="fa fa-key"></i> Đổi mật khẩu
        </div>
        <div class="dropdown-item" (click)="logout()" *ngIf="isLogined" >
          <i class="fa fa-power-off"></i> Đăng xuất
        </div>
        <div class="dropdown-item" *ngIf="!isLogined"  [routerLink]="['/login']">
          <i class="fa fa-power-off"></i> Đăng nhập
        </div>
      </div>
    </div>
  </div>
</header>
